body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #333;
}

.avatar {
  width: 150px;
  border: 2px solid #333;
  border-radius: 50%;
}

ul {
  list-style-type: circle;
  margin: 20px;
  padding: 10px;
}
